
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  } 
/* *{
    border: 1px solid blue;
} */
body{
    margin: 0;
    padding: 0;
}
/* Styles Start Here */
.header-section{
    background: rgba(229, 84, 115, 0.1);
}
.banner-container{
    display: flex;
    margin: 0 auto;
}
.left-side{
    width: 60%;
}
.left-side h2{
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: rgb(39, 39, 39);
    margin-left:170px;
    margin-top: 140px;
}
.left-side p{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
    line-height: 1.3rem;
    margin-top: -15px;
    margin-left:170px;
}
.left-side button{
    width: 100px;
    height: 40px;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    padding: 10px 15px 10px 15px;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    border: none;
    margin-left:170px;
}
.right-side{
    width: 40%;
}
.banner-image{
    width: 400px;
    height: 600px;
    /* margin-right: 200px; */
    margin-top: 40px;
    margin-bottom: -5px;
}
/* Our Featured Flowers */
/* .our-featured-section{ 
} */
.our-featured-container{
    margin: 0 auto;
    text-align: center;
}
.our-featured-container h2{
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 800;
    margin-top: 50px;
}
.our-featured-container p{
    font-family: "Poppins", sans-serif;
    color: rgba(39, 39, 39, 0.6);
    font-size: 12px;
    font-weight: 400;
    margin-top: -10px;
}
.rectangle-container{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 50px;
}

.Rectangle-one{
    width: 280px;
    height: 300px;
    border-radius: 200px 200px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-right: 24px;
}
.Rectangle-one img{
    width: 180px;
    height: 250px;
    margin-top: 50px;
    margin-left: 48px;
}
.rectangle-onetext{
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: 100px;
    margin-left: 80px;
    
}
.Rectangle-two{
    width: 280px;
    height: 300px;
    border-radius: 200px 200px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-right: 24px;
}
.Rectangle-two img{
    width: 180px;
    height: 250px;
    margin-top: 50px;
    margin-left: 48px;
}
.Rectangle-three{
    width: 280px;
    height: 300px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.Rectangle-three img{
    width: 180px;
    height: 250px;
    margin-top: 50px;
    margin-left: 48px;
}
/* Same Day Container */
.same-day-container{
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 900px;
    height: 200px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 80px;
}
.same-day-photo-container{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.same-day-groupph-one img{
    width: 77px;
    height: 77px;
   /* border-style: dashed;
    border-width: 2px;
    color: #bfbfbf;*/
    margin-top: 30px;
    margin-left: 90px;
}
.same-day-groupph-one h5{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: rgba(39, 39, 39, 0.8);
    margin-left: 20px;
}
.same-day-groupph-two img{
    width: 77px;
    height: 77px;
    /*border-style: dashed;
    border-width: 2px;
    color: #bfbfbf;*/
    margin-top: 30px;
    margin-left: 90px;
}
.same-day-groupph-two h5{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: rgba(39, 39, 39, 0.8);
    margin-left: 40px;
}
.same-day-groupph-three img{
    width: 77px;
    height: 77px;
   /* border-style: dashed;
    border-width: 2px;
    color: #bfbfbf; */
    margin-top: 30px;
    margin-left: 90px;
}
.same-day-groupph-three h5{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: rgba(39, 39, 39, 0.8);
    margin-left: 80px;
}

/* Hot Deal ! Sale Up To 25% Off */
.hot-deal-container{
    background: rgba(229, 84, 115, 0.05);
    padding-bottom: 20px;
}
.hot-deal-subcontainer{
    display: flex;        /* one line */
}

.hot-deal-left{
    width: 60%;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}
.hot-deal-left h4{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: rgb(39, 39, 39);
    text-align: center;
}
.hot-deal-left p{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
    text-align: center;
    margin-top: -10px;
}
.btn-signup{
    width: 110px;
    height: 40px;
    border-radius: 8px;
    color: #fff;
    background: rgb(229, 84, 115);
    border: none;
    display: block;
    margin: auto;
}
.off-text{
    color: rgb(229, 84, 115);
}
.hot-deal-right{
    width: 40%;
}
.hot-deal-right img{
    width: 250px; 
    height: 300px;
    margin-top: 50px;
}
/* Instagram */
.instagram-title{
    text-align: center;
}
.instagram-title h3{
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 800;
}
.instagram-title p{
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
    margin-top: -15px;
}

.instagram-flower{
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.insta-flower-one{
    width: 250px;
    height: 300px;
    margin-left: 50px;
}
.insta-flower-two{
    width: 250px;
    height: 300px;
}
.insta-flower-three{
    width: 250px;
    height: 300px;
}
.insta-flower-four{
    width: 250px;
    height: 300px;
    margin-right: 50px;
}
 /* Get The Latest Deals  */
.latest-deals{
    width: 1030px;
    height: 300px;
    margin: 0 auto;
    background-image: url(../images/Rectangle-9.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
    margin-bottom: 30px;
}
.latest-deals-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.latest-deals-container h2{
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 800;
    margin-top: 80px;
}
.latest-deals-container p{
    font-family: "Poppins", sans-serif;
    color: rgba(39, 39, 39, 0.6);
    font-size: 11px;
    font-weight: 400;
    margin-top: -16px;
}
.input-div{
    display: flex;
    justify-content: center;
}
.email-here{
    width: 450px;
    height: 54px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;
    color: rgba(39, 39, 39, 0.6);
    font-family: "Poppins", sans-serif;
    padding-left: 20px;
    margin-top: 40px;
}
.subscribe-btn{
    width: 130px;
    height: 54px;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    border: none;
    margin-left: 10px;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    margin-top: 40px;
}
/* Footer */
.footer{
    /* width: 1000px; */
    height: 230px;
    background: rgb(17, 16, 16);
}
.footer-title{
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    text-align: center;
    padding-top: 70px;
}
.footer-ex-flower{
    color: rgb(229, 84, 115);
}
.footer-description{
    color: rgba(207, 207, 207, 0.9);
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin-top: -25px;
}
.copyright{
    color: rgba(255, 255, 255, 0.534);
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}